# For safety reasons, pull request jobs have no permissions for the project, so they cannot post comments etc.
# Thus, pull requests jobs just upload their data and afterwards, this job runs to post comments etc. to the PR

name: "pull-request-post"
on:
  workflow_run:
    workflows: [ "pull-request-build" ]
    types: [ completed ]

permissions: write-all

jobs:
  comment:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'failure'
    permissions:
      pull-requests: write
    steps:
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@9dde25e7413c6123b6062d4c9fc954d6ff005cfc
        continue-on-error: true
        id: download
        with:
          run_id: ${{ github.event.workflow_run.id }}
          path: artifacts
          allow_forks: true
      - run: find
      - name: Set the PR_NUM
        if: steps.download.outcome == 'success'
        id: pr-meta
        run: |
          pr=$(cat artifacts/results/android-architecture-playground/android-architecture-playground/pr_number.txt)
          echo "pr_num=$pr" > $GITHUB_OUTPUT
          echo "pr_ref=refs/pull/$pr/merge" >> $GITHUB_OUTPUT
          mkdir -p repo
      - uses: actions/checkout@v6
        if: steps.download.outcome == 'success'
        with:
          lfs: true
          submodules: recursive
          ref: ${{ steps.pr-meta.outputs.pr_ref }}
          fetch-depth: 0
          path: repo
      - name: Set git ref
        if: steps.download.outcome == 'success'
        id: git-hash
        run:
          ref=$(git rev-parse HEAD);echo "git_hash=$ref" > $GITHUB_OUTPUT
        working-directory: repo
      - name: Post SARIF findings as comments in the pull request
        if: steps.download.outcome == 'success' && hashFiles('artifacts/results/android-architecture-playground/android-architecture-playground/merge.sarif') != ''
        uses: sett-and-hive/sarif-to-comment-action/composite@d6808eaef0d23c26905ca02ea3dd44e1e22c1dae
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          branch: "${{ steps.git-hash.outputs.git_hash }}"
          pr-number: "${{ steps.pr-meta.outputs.pr_num }}"
          title: Lint report
          show-rule-details: false
          sarif-file: 'artifacts/results/android-architecture-playground/android-architecture-playground/merge.sarif'
          simple: true
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f
        if: steps.download.outcome == 'success'
        with:
          comment_mode: always
          files: |
            artifacts/**/TEST-*.xml
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/results/_temp/_github_workflow/event.json
          event_name: ${{ github.event.workflow_run.event }}
          check_run: 'false'
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        if: steps.download.outcome == 'success'
        with:
          paths: |
            artifacts/results/android-architecture-playground/android-architecture-playground/aggregatedJacocoReport.xml,
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          title: Code Coverage
          min-coverage-overall: 50
          min-coverage-changed-files: 30
          pr-number: "${{ steps.pr-meta.outputs.pr_num }}"
