# For safety reasons, pull request jobs have no permissions for the project, so they cannot post comments etc.
# Thus, pull requests jobs just upload their data and afterwards, this job runs to post comments etc. to the PR

name: "pull-request-post"
on:
  workflow_run:
    workflows: [ "pull-request-build" ]
    types: [ completed ]

permissions:
  pull-requests: write
  checks: write

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db #v3.0.1
      - name: 'Save Service account'
        run: 'echo "${{ secrets.TEST_GCLOUD_ACCOUNT }}" | base64 -d > test-lab-key.json'

      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@9dde25e7413c6123b6062d4c9fc954d6ff005cfc
        continue-on-error: true
        id: download
        with:
          run_id: ${{ github.event.workflow_run.id }}
          path: artifacts
          allow_forks: true
      - name: Set the PR_NUM
        if: steps.download.outcome == 'success'
        id: pr-meta
        run: |
          pr=$(cat artifacts/results/android-architecture-playground/android-architecture-playground/pr_number.txt)
          echo "pr_num=$pr" > $GITHUB_OUTPUT
          echo "pr_ref=refs/pull/$pr/merge" >> $GITHUB_OUTPUT
          mkdir -p repo
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6
        if: steps.download.outcome == 'success'
        with:
          lfs: true
          submodules: recursive
          ref: ${{ steps.pr-meta.outputs.pr_ref }}
          fetch-depth: 0
          path: repo
          persist-credentials: false
      - name: Set git ref
        if: steps.download.outcome == 'success'
        id: git-hash
        run:
          ref=$(git rev-parse HEAD);echo "git_hash=$ref" > $GITHUB_OUTPUT
        working-directory: repo

      - name: "Run instrumented tests on Firebase test lab"
        if: steps.download.outcome == 'success' && hashFiles('artifacts/results/android-architecture-playground/android-architecture-playground/app-merged-instrumented-tests/build/outputs/apk/debug/app-merged-instrumented-tests-debug.apk') != ''
        run: |
          gcloud auth login --cred-file=test-lab-key.json
          gcloud config set project androidarchitectureplayground
          
          tmp_file=$(mktemp)
          gcloud firebase test android run \
          --type instrumentation \
          --app artifacts/results/android-architecture-playground/android-architecture-playground/app/build/outputs/apk/debug/app-debug.apk \
          --test artifacts/results/android-architecture-playground/android-architecture-playground/app-merged-instrumented-tests/build/outputs/apk/debug/app-merged-instrumented-tests-debug.apk \
          --device model=MediumPhone.arm,version=26 \
          --use-orchestrator \
          --environment-variables clearPackageData=true \
          |& tee tmp_file
          
          TEST_EXIT_CODE=${PIPESTATUS[0]}
          RESULTS=$(cat tmp_file)
          rm tmp_file
          
          BUCKET=$(echo $RESULTS | grep -oP "browser/\K[^]]+")
          mkdir -p instrumented_tests_results
          gcloud storage cp -r gs://$BUCKET instrumented_tests_results/
          
          if [[ TEST_EXIT_CODE -ne 0 ]] then
            exit 1
          fi
      - name: Post SARIF findings as comments in the pull request
        if: always() && steps.download.outcome == 'success' && hashFiles('artifacts/results/android-architecture-playground/android-architecture-playground/merge.sarif') != ''
        uses: sett-and-hive/sarif-to-comment-action/composite@7e69cd5f511daf8e8804487150df819f8380018e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          branch: "${{ steps.git-hash.outputs.git_hash }}"
          pr-number: "${{ steps.pr-meta.outputs.pr_num }}"
          title: Lint report
          show-rule-details: false
          sarif-file: 'artifacts/results/android-architecture-playground/android-architecture-playground/merge.sarif'
          simple: true
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f
        if: always() && steps.download.outcome == 'success'
        with:
          comment_mode: failures
          files: |
            artifacts/**/TEST-*.xml
            instrumented_tests_results/**/*.xml
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/results/_temp/_github_workflow/event.json
          event_name: ${{ github.event.workflow_run.event }}
          check_run: 'true'
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        if: always() && steps.download.outcome == 'success'
        with:
          paths: |
            artifacts/results/android-architecture-playground/android-architecture-playground/build/reports/jacoco/aggregatedJacocoReport/aggregatedJacocoReport.xml,
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          title: Code Coverage
          min-coverage-overall: 50
          min-coverage-changed-files: 30
          pr-number: "${{ steps.pr-meta.outputs.pr_num }}"
