# Sample Github action that will create a new PR whenever someone pushes a new branch.
# If branch also contains a jira ticket, it will transition that ticket to progress

# This sample action only works on Inova company self-hosted-runners

name: Create new PR
on: create
permissions:
  pull-requests: write
jobs:
  createNewPr:
    name: Create new PR
    runs-on: "node"
    env:
      OWNER_NAME: ${{github.actor}}
      OWNER_MESSAGE: ${{github.event.ref}}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: pull-request
        id: open-pr
        uses: inovait/pull-request@bfc7ca74d921994018f2b54c0334737de38ddad7
        with:
          github_token: ${{ github.token }}
          destination_branch: "main"
          pr_title: "Draft: ${{env.OWNER_MESSAGE}} - ${{env.OWNER_NAME}}"
          pr_body: "Owner ${{env.OWNER_NAME}}"

      - name: Get ticket
        uses: actions-ecosystem/action-regex-match@9e6c4fb3d5e898f505be7a1fb6e7b0a278f6665b #v2
        id: get-ticket
        with:
          text: ${{ env.OWNER_MESSAGE }}
          regex: '[A-Z]{2,4}-[0-9]+'

      - name: Login to Jira
        if: ${{ steps.get-ticket.outputs.match != '' }}
        uses: atlassian/gajira-login@c22a5debd482401472b285de4f6deedf70ddbb92
        env:
          JIRA_BASE_URL: 'https://myjira.atlassian.net/'
          JIRA_USER_EMAIL: "myacc@jira.com"
          JIRA_API_TOKEN: ${{ secrets.JIRA_TOKEN }}

      - name: Make a jira comment about a new release
        if: ${{ steps.get-ticket.outputs.match != '' }}
        uses: inovait/actions-common/jira-comment@8c52067f51ae2ad3302ce91a03099d014ee8dba6 #v15
        with:
          tickets: "${{ steps.get-ticket.outputs.match }}"
          comment: |
            {
              "version": 1,
              "type": "doc",
              "content": [
                {
                  "type": "paragraph",
                  "content": [
                    {
                      "type": "text",
                      "text": "${{env.OWNER_NAME}} started working on this issue ${{steps.open-pr.outputs.pr_url}}"
                    }
                  ]
                }
              ]
            }

      - name: Transition tickets to In Progress
        if: ${{ steps.get-ticket.outputs.match != '' }}
        uses: inovait/actions-common/jira-transition@8c52067f51ae2ad3302ce91a03099d014ee8dba6 #v15
        with:
          tickets: "${{ steps.get-ticket.outputs.match }}"
          from: 'SELECTED FOR DEVELOPMENT'
          to: 'In Progress'
