name: pull-request-build
run-name: "#${{ github.event.pull_request.number}} ${{ github.event.pull_request.title}}"
on:
  pull_request:
    types: [ 'opened', 'reopened', 'synchronize' ]
permissions:
  pull-requests: write
  checks: write
jobs:
  build-app:
    runs-on: "ubuntu-latest"
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      # Preparation

      - name: Install screenshot test dependencies
        run: "sudo apt-get install -y libfreetype6 fontconfig fonts-dejavu"
      - name: Globally enable build cache and parallel execution
        run: |
          mkdir -p ~/.gradle
          
          cat >> ~/.gradle/gradle.properties<< EOF
          org.gradle.caching=true
          org.gradle.parallel=true
          EOF
      - name: Force all tasks to be rerun when debug mode is on
        # This allows us to force rerun the build if cache has gotten corrupted
        run: 'if [[ "${{ runner.debug }}" == "1" ]]; then
                  echo "GLOBAL_FLAGS= --rerun-tasks" >> "$GITHUB_ENV";
              else
                  echo "GLOBAL_FLAGS=" >> "$GITHUB_ENV";
              fi
            '
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5
        with:
          java-version: '21'
          distribution: temurin
      - uses: burrunan/gradle-cache-action@719a4e72b21ed55d4160816d9713cb0a7e401ab7
        with:
          debug: false
          concurrent: true
          read-only: true
      - uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407

      # Build

      - name: Compile app
        run: "./gradlew compileReleaseKotlin assembleDebug$GLOBAL_FLAGS"
        env:
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}

      # Tests

      - name: Compile Unit Tests
        run: "./gradlew compileDebugUnitTestSources compileReleaseUnitTestSources assembleDebugAndroidTest$GLOBAL_FLAGS"
      - name: Lint
        run: "./gradlew lintRelease runDebugDetekt assertModuleGraph buildHealth detectTooManyFiles :app:verifyDebugDatabaseMigration reportMerge --continue$GLOBAL_FLAGS"
      - name: Double check db with generated schema
        run: "./gradlew :app:generateDebugDatabaseSchema :app:verifyDebugDatabaseMigration"
      - name: Run Unit Tests
        run: "./gradlew runDebugTests -x :app-screenshot-tests:testDebugUnitTest -x :app-screenshot-tests:testReleaseUnitTest --continue$GLOBAL_FLAGS"
      - name: "Run Screenshot Tests"
        run: "./gradlew --continue verifyPaparazziDebug$GLOBAL_FLAGS"
      - name: "Create jacoco aggregate"
        run: "./gradlew aggregatedJacocoReport"
        #     GitHub Actions does not allow PR actions triggered from external contributors
        #     to post comments. As a workaround, we upload metadata artifacts
        #     and then sarif-comment.yaml workflow will run, which will post the comment

      - run: echo ${{ github.event.number }} > pr_number.txt
        if: (!cancelled())
      - name: Upload Results
        if: (!cancelled())
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6
        with:
          name: results
          path: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
            pr_number.txt
            ${{ github.event_path }}
            merge.sarif
            build/reports/jacoco/aggregatedJacocoReport/aggregatedJacocoReport.xml
            app/build/outputs/apk/debug/app-debug.apk
            app-merged-instrumented-tests/build/outputs/apk/debug/app-merged-instrumented-tests-debug.apk
      - name: "Upload Screenshot test failures"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6
        if: failure()
        with:
          name: failed-screenshot-tests
          path: app-screenshot-tests/build/paparazzi/failures

