name: pull-request-build
run-name: "#${{ github.event.pull_request.number}} ${{ github.event.pull_request.title}}"
on:
  pull_request:
    types: [ 'opened', 'reopened', 'synchronize' ]
jobs:
  build-app:
    runs-on: "ubuntu-latest"
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      # Preparation

      - name: Install screenshot test dependencies
        run: "sudo apt-get install -y libfreetype6 fontconfig fonts-dejavu"
      - name: Globally enable build cache and parallel execution
        run: |
          mkdir -p ~/.gradle
          
          cat >> ~/.gradle/gradle.properties<< EOF
          org.gradle.caching=true
          org.gradle.parallel=true
          EOF
      - name: Force all tasks to be rerun when debug mode is on
        # This allows us to force rerun the build if cache has gotten corrupted
        run: 'if [[ "${{ runner.debug }}" == "1" ]]; then
                  echo "GLOBAL_FLAGS= --rerun-tasks" >> "$GITHUB_ENV";
              else
                  echo "GLOBAL_FLAGS=" >> "$GITHUB_ENV";
              fi
            '
      - uses: actions/checkout@v6
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: gradle
      - uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407

      # Build

      - name: Compile app
        run: "./gradlew compileReleaseKotlin assembleDebug$GLOBAL_FLAGS"
        env:
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}

      # Tests

      - name: Compile Unit Tests
        run: "./gradlew compileDebugUnitTestSources compileReleaseUnitTestSources assembleDebugAndroidTest$GLOBAL_FLAGS"
      - name: Lint
        run: "./gradlew lintRelease runDebugDetekt assertModuleGraph buildHealth detectTooManyFiles :app:verifyDebugDatabaseMigration debugComposeCompilerCheck reportMerge --continue$GLOBAL_FLAGS"
      - name: Double check db with generated schema
        run: "./gradlew :app:generateDebugDatabaseSchema :app:verifyDebugDatabaseMigration"
      - name: Run Unit Tests
        run: "./gradlew runDebugTests -x :app-screenshot-tests:testDebugUnitTest -x :app-screenshot-tests:testReleaseUnitTest --continue$GLOBAL_FLAGS"
      - name: "Generate new Screenshot Tests"
        run: "config/generate-screenshots.sh ${{ github.event.pull_request.head.ref }}"
      - name: "Run Screenshot Tests"
        run: "./gradlew --continue verifyPaparazziDebug$GLOBAL_FLAGS"
      - name: "Remove unused Screenshot Tests"
        run: "config/remove-unused-screenshots.sh ${{ github.event.pull_request.head.ref }}"
      - name: "Create jacoco aggregate"
        run: "./gradlew aggregatedJacocoReport"
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: |
            ${{ github.workspace }}/build/reports/jacoco/aggregatedJacocoReport/*.xml,
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          title: Code Coverage
          min-coverage-overall: 50
          min-coverage-changed-files: 30
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        if: always()
        with:
          comment_mode: failures
          junit_files: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
      - name: Post SARIF findings as comments in the pull request
        if: always()
        uses: inovait/sarif-to-comment-action/composite@9dcbecdc82ea4ead3a3efe4042b66731e66d46d5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref }}
          pr-number: ${{ github.event.number }}
          title: Lint report
          show-rule-details: false
          sarif-file: 'merge.sarif'
      - name: "Upload Screenshot test failures"
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: failed-screenshot-tests
          path: app-screenshot-tests/out
      - name: "Upload jacoco coverage report"
        uses: actions/upload-artifact@v6
        with:
          name: test-coverage
          path: ${{ github.workspace }}/build/reports/jacoco/aggregatedJacocoReport/html
